# LangSmith Configuration
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=prompt-optimization-challenge-resolved

# Your LangSmith Hub username
# To find it: publish any prompt, open it, and click the lock icon (🔒)
USERNAME_LANGSMITH_HUB=

# OpenAI Configuration
OPENAI_API_KEY=
LLM_MODEL=gpt-4o-mini
EVAL_MODEL=gpt-4o
